@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-light-color: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --border-1px: 1px solid black;
  --white-color: white;
  --black-color: black;
  --back-color: transparent;
  --input-color: black;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
  --tran-06: all 0.6s ease;
  --tran-08: all 0.8s ease;
}
body {
  background-color: var(--body-color) !important;
  /* border: 20px solid black; */
  min-height: 100vh;
}

/* --------------------- */
.contentbody {
  color: var(--black-color);
  padding: 20px;
  margin-left: 280px;
  transition: var(--tran-05);
}
.contentclose {
  color: var(--black-color);
  padding: 20px;
  margin-left: 100px;
}

/* ----------------------------------- */

/* ----Nav sidebar start -------------------------------------- */
.sidebar {
  position: fixed;
  top: 0px;
  /* border: var(--border-1px); */
  height: 100%;
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--sidebar-color);
  transition: var(--tran-05);
}
.logo-container {
  /* border: var(--border-1px); */
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.logo-container > .logo {
  /* border: var(--border-1px); */
  height: 40px;
  min-width: 40px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}
.logo-container > .logo-text {
  /* border: var(--border-1px); */
  padding-left: 15px;
  font-weight: bold;
  color: var(--text-color);
}

/* toggle btn style----------------------------------- */
.toggle-btn {
  /* border: var(--border-1px); */
  position: absolute;
  height: 30px;
  width: 30px;
  right: -15px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 1s ease;
}

/* Search bar */
.search-bar-container {
  /* border: var(--border-1px); */
  margin-top: 20px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--primary-light-color);
  display: flex;
  align-items: center;
}

.search-bar-container > i {
  width: 50px;
  text-align: center;
  color: var(--text-color);
}

.search-bar-container > input {
  border: none;
  outline: none;
  background-color: var(--back-color);
  padding-right: 15px;
  color: var(--text-color);
}
.search-bar-container > input.form-control:focus {
  box-shadow: none;
  background-color: var(--primary-light-color);
}
.search-bar-container > input.form-control {
  color: var(--input-color);
}
.form-control::placeholder {
  color: var(--text-color) !important;
}

/* ---navbar style --- */
.nav-container {
  /* border: var(--border-1px); */
  margin-top: 25px;
}
.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation > li {
  margin-bottom: 5px;
}
.navigation > li > a {
  text-decoration: none;
  display: flex;
  /* border: var(--border-1px); */
  height: 40px;
  align-items: center;
  color: var(--text-color);
  border-radius: 5px;
  transition: var(--tran-08);
}

.navigation > li > a > i {
  margin: 10px;
  padding: 4px;
  font-size: 15px;
}
.navigation > li > a:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* dark and light mode */
.dark-mode-con {
  /* border: var(--border-1px); */
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--primary-light-color);
  color: var(--text-color);
  border-radius: 5px;
}

.dark-mode-con > i {
  margin: 10px;
  padding: 4px;
  text-align: center;
  font-size: 15px;
}

.toggle-switch-btn {
  /* border: var(--border-1px); */
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
}

.toggle-switch-btn > .switch {
  /* border: var(--border-1px); */
  width: 40px;
  height: 22px;
  border-radius: 20px;
  display: block;
  background-color: var(--toggle-color);
}

.toggle-switch-btn > .switch::before {
  content: "";
  position: absolute;
  /* border: var(--border-1px); */
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: var(--sidebar-color);
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  cursor: pointer;
}
.dark-mode-con {
  margin-top: 100px;
}
.dark-theme .switch::before {
  left: 18px;
}
body.dark-theme {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #695cfe;
  --primary-light-color: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --border-1px: 1px solid black;
  --white-color: white;
  --input-color: white;
  --black-color: white;
}

/* Navbar js toggle btn*/
.sidebar.close {
  width: 80px;
}
.sidebar.close .navigation > li > a > span,
.sidebar.close .logo-text,
.sidebar.close .search-bar-container > input,
.sidebar.close .dark-mode-con > i,
.sidebar.close .dark-mode-con > span {
  display: none;
}
/* .sidebar.close .search-bar-container > input,
.sidebar.close .dark-mode-con > i,
.sidebar.close .dark-mode-con > span {
  display: none;
} */
.sidebar.close .dark-mode-con > .toggle-switch-btn > .switch {
  width: 40px;
  height: 15px;
}
.sidebar.close .dark-mode-con > .toggle-switch-btn {
  position: relative;
  right: 0;
}
.sidebar.close .dark-mode-con {
  background-color: transparent;
}
/* rotate arrow */
.toggle-btn-rotate {
  transform: rotate(180deg);
}
.sidebar.close .contentbody {
  margin-left: 0;
}
